body{
    background-color: var(--tg-theme-bg-color);
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* min-width: 100%; */
    max-width: 100%;
    /* max-width: 390px; */
    margin: 0;
}

.container{
    margin: 0;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 150%;
}

#title {
    /* position: absolute; */
    /* top: -25%; */
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: var(--tg-theme-text-color);
}

#fake_title{
    width: 96%;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

#timeBox {
    /* width: 100%;
    height: 100%; */

    position: absolute;
    top:50%;
    left: 20px;
    transform: translate(0px, -50%);

    /* left:20px; */
    /* margin-left: 20px; */
    /* margin: 0% 0px; */
}

#timerPassed {
    /* position: absolute; */
    /* top:45px; */
    margin-top: 0px;
}

#timerLeft {
    /* position: absolute; */
    /* top: 30px; */
    margin-top: 5px;
}

#progress_bar {
    position: relative;

    margin: 0 auto;

    border-radius:30px;
    /* top: 35px; */
    width: 96%;
    /* width: 565px; */
    height: 150px;
    background-color: black;
    -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
    /* overflow: hidden; */
}

#progress_bar::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(90deg, rgba(96,2,51,1) 0%, rgba(0,39,69,1) 50%, rgba(0,62,26,1) 100%);
  }

#progress_line {
    width: 0%;
    height: 100%;
    background-color: white;
    -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
}

#progress_line::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(90deg, rgba(240,5,127,1) 0%, rgba(0,98,173,1) 50%, rgba(0,156,66,1) 100%);
}


/* #fake_bar {
    border-radius:30px;
    position: absolute;
    top: 4%;
    left: 2%;
    width: 96%;
    min-height: 150px;
    height: 20%;
} */


/* #emoji {
    width: 50%;
}

#emoji_placeholder{
    width: 100%;
    position: absolute;
    top: 125%;
    text-align: center;
} */

#emoji {
    width: 70%;
    height: 0%;
    max-width: 500px;
    margin: 0 auto;
}

#emoji_placeholder{
    width: 100%;
    max-height: 0;
    margin-top: 20px;
    text-align: center;
}


#button_box {
    background-color: var(--tg-theme-secondary-bg-color);
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    vertical-align: center;
    /* overflow: hidden; */
    display: flex;
}

/* #buttom_item {
    
} */

p {
    color: var(--tg-theme-text-color);
    text-align: left;
    /* position: absolute; */
    margin: auto;
    /* top:0%; */
    /* margin-right: 2%; */
    bottom: 10%;
    margin-left: 8%;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    /* font-size: 90%; */
    /* max-width: 70%; */
}

a {
    color: var(--tg-theme-link-color);
    text-decoration: none;
}

#me {
    float: left;
    width:56px;
    height: 100px;
    position: relative;
    /* bottom: -10%; */
    top: 8%;
    left: 5%;
}

/* #me {                !!! внутри p !!!
    width:50px;
    position: absolute;
    bottom: -5%;
    left: -16%;
} */

button, input {
    position: absolute;
    top: 50%;
    right: 50px;

    /* width: 30%; */
    /* height: 100%; */
    padding: 10px 15px;
    font-size: 140%;

    border-radius: 200px;
    border-width: 0px;
    /* background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color); */
    background-color: lightslategray;
    color: white;
    
}

#buttonF {      /* пока не юзаю
    /* box-sizing: 100%; */
    position: absolute;
    bottom: 5%;
    right: 5%;
    /* width: 30%;
    height: 0;
    padding-bottom: 15%; */
    background-color:black;
    text-align: center;
}